<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073917965870-s4kcat205pmo9c89549t2d540o9n2006.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073917965870-s4kcat205pmo9c89549t2d540o9n2006</string>
	<key>API_KEY</key>
	<string>AIzaSyCW9Y3SFYm7d3kmQE_7syjmv_CxObLNbVY</string>
	<key>GCM_SENDER_ID</key>
	<string>1073917965870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.samsarah.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sh-samsarah</string>
	<key>STORAGE_BUCKET</key>
	<string>sh-samsarah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073917965870:ios:662b1ca43a766ea37b91bf</string>
</dict>
</plist>